extends layout

block content

    header(class='parallax')
        h1= "Visitors"

    br
    br
    <center>
    div(class="visitorForm bottom-margin top-margin")
        header(class='title')
            h1= "Choose a visitor"

        form(method='POST', action='/visitatore/select')
            select(name = 'visitors')
                each vis in visitatori
                    option(value=vis.id) #{vis.id}
        
            input(type='submit', value='submit')
    </center>
    br
    br
    div(class="parallax large")
